AUTHOR=@gabriel_cirqueira__

#CONEXÕES

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=monitoramento
DB_PORT=3306

DB_SOCKET=C:/xampp/mysql/bin/mysqldump.exe

#SENHAS DA PARTE DO GESTOR E ADM
SENHA_GESTOR=escolansl2006
SENHA_ADM=FelipeOdeiaAzul

#VARIAVEL RESPONSAVEL POR DEFINIR DE QUANTAS E QUANTAS HORAS O SISTEMA IRÁ FAZER BACKUP
#SE FOR 1, ENT VAI FAZER BACKUP A CADA 1 HORA (SÓ SERÁ FEITO BACKUP SE ALGUÉM ENTRAR NO SISTEMA)
HORAS_BACKUP=0.5