RewriteEngine on

# Remover a extensão .php da URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /$1.php [L]

# Criar uma URL amigável para uma determinada página
RewriteRule ^main/(.*)$ /index.php?action=$1 [L]