#campo-email {
  display: none;
}

/* .input-campo-aluno {
  background-color: rgba(245, 245, 220, 0);
  width: 70%;
  margin: 10px;
  padding-left: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
}

.input-campo-aluno::placeholder {
  color: white;
}

.input-campo-aluno:focus {
  outline: none;
} */
 
.input-campo-aluno {
    background-color: rgba(245, 245, 220, 0);
    width: 65%;
    margin: 20px;
    height: 30px;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    transition: 0.5s ease-in;
    outline: none;
    border-bottom: 4px solid white;
}
 
.input-campo-aluno::placeholder {
    color: white;
}

.campo-ra {
  position: relative;
}

.label-campo-login {
  position: absolute;
  font-weight: bold;
  left: 60px;
  font-size: 20px;
  top: 15px;
  color: aliceblue;
  transition: 0.5s;
}

input:focus+.label-campo-login {
  color: rgb(255, 255, 255);
  top: -4px;
  font-size: 12px;
}

input:valid+.label-campo-login {
  top: -4px;
  font-size: 12px;
}

.label-campo-login {
    cursor: text;
}
 
.campo-ra input:focus { 
    border-bottom: 4px solid rgb(87, 87, 87);
}


.input-add {
  width: 70%;
  padding: 10px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-add:active {
  outline: none;
  border: none;
}

.input-add:focus {
  outline: none;
}

.input-select {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #555;
}

.input-checkbox {
  transform: scale(2);
  border-radius: none;
  border: none;
  margin: 10px;
}

.input-checkbox+span {
  margin-right: 20px;
  font-size: 16px;
  color: #555;
}

.input-checkbox:checked+span {
  font-weight: bold;
  color: #01a8c5;
}

.label-select {
  display: block;
  margin-bottom: 5px;
}

.input-checkbox-materias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.titulo-NSL {
  color: #01a8c5;
}

.campos-selecionar-descritores input {
  width: 80px;
}

.caixa-turmas {
  width: 100px;
  height: 100px;
  background-color: rgb(26, 85, 172);
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.caixa-turmas:hover {
  background-color: rgb(21, 71, 145);
  cursor: pointer;
}

.form-radio div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form-radio {
  display: flex;
  gap: 5px;
}

.nome_prova input[type="text"] {
  width: 400px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;
}

.PopUp-sobreposicao td,
.PopUp-sobreposicao tr{
  border: 1px solid black;
  font-size: 10px;
}
 
.professor-editar-gabarito td,
.professor-editar-gabarito tr,
.aluno_inserir_gabarito td,
.aluno_inserir_gabarito tr,
.professor-inserir-gabarito td,
.professor-inserir-gabarito tr {
  border: 2px solid rgb(151, 151, 151);
  padding: 7px;
} 

.professor-inserir-gabarito td .Ds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.professor-editar-gabarito input[type="radio"],
.professor-descritores input[type="radio"], 
.professor-area-disciplinas input[type="radio"],
.professor-inserir-gabarito input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.professor-inserir-gabarito input[type="text"] {
  border-radius: 0px;
  border: 1px solid black;
  font-size: 13px;
}

.professor-inserir-gabarito input[type="text"]:focus {
  outline: none;
}

.aluno_inserir_gabarito input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* largura desejada da caixa */
  height: 25px; /* altura desejada da caixa */
  border: 1px solid #333; /* cor e espessura da borda */
  border-radius: 3px; /* arredondamento dos cantos da caixa */
  outline: none; /* remova a borda ao focar */
  cursor: pointer; /* cursor ao passar por cima */
  margin-right: 5px; /* espaçamento opcional à direita */
}

/* Estilo para quando o input radio estiver marcado */
.aluno_inserir_gabarito input[type="radio"]:checked {
  background-color: #333; /* cor de fundo quando marcado */
}


.professor-editar-gabarito input[type="radio"]:checked,
.professor-descritores input[type="radio"]:checked,
.aluno_inserir_gabarito input[type="radio"]:checked,
.professor-area-disciplinas input[type="radio"]:checked,
.professor-inserir-gabarito input[type="radio"]:checked {
  background-color: #399ff3;
  border-color: #399ff3;
}

.descritor:hover {
  background-color: #747373;
  cursor: pointer;
}

.professor-campos div input {
  width: 300px;
  font-size: 20px;
  height: 30px;
}

.painel-frontal-gestor img {
  width: 200px;
}

.professor-area-turmas input[type="checkbox"]:hover, .professor-area-turmas label:hover{  
  cursor: pointer;
}