:root {
  --primary-color: #0bd1eb;
  --text-color: #ffffff;
  --header: #11c5da;
  --background-color: #fff;
  --botoes-text: gray;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  display: flex; 
  position: relative;
  flex-direction: column; 
  background-size: cover;
  background-position: center;
  color: #464646;
  background-repeat: no-repeat;
  background-attachment: fixed;
}