.prova-pendente {
  display: flex;
  background-color: #f4fdfc;
  border-radius: 15px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prova-pendente:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.linha-vertical-campo-prova {
  width: 10px;
  border-radius: 4px 0 0 4px;
  background-color: rgb(240, 196, 1);
  margin-right: 15px;
}

.icone-alerta {
  color: #EFCC00;
  font-size: 40px;
  margin-right: 20px;
}

.conteudo-prova {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.prova-nome-disciplina {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}

.prova-nome-professor {
  font-size: 14px;
  color: #555;
  font-weight: normal;
}

.button-ver-prova button {
  background-color: #0dad98;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.button-ver-prova button:hover {
  background-color: #0a8d80;
  transform: translateY(-3px);
  cursor: pointer;
}

.nao_tem_prova {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nao_tem_prova img {
  width: 200px;
}

.nao_tem_prova p {
  margin: 0px;
}

.periodo-provas {
  display: flex;
  background-color: #10d2b812;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(120, 120, 120, 0.19);
  margin: 20px auto;
  flex-direction: column;
  transition: background-color 0.3s ease;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 2s ease-in-out;
}

.periodo-provas[open] {
  max-height: 10000px;
}

.periodo-provas summary {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(31, 31, 31);
  position: relative;
  transition: background-color 0.3s ease;
}

.periodo-provas summary::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  transition: transform 0.3s ease;
}

.periodo-provas[open] summary::after {
  transform: translateY(-50%) rotate(-180deg);
}

.periodo-provas summary:focus {
  outline: none;
}

.numero {
  background-color: #f6e200b6;
  font-size: 17px;
  width: 30px;
  font-weight: bold;
}

.alternativa-marcada {
  background-color: #9f9f9f57;
}

.alternativa-marcada-true {
  background-color: #04a756cf;
}

.alternativa-marcada-true-gray {
  background-color: #00ff804a;
}

.alternativa-marcada-false {
  background-color: #bf2e2ec8;
}

.form-area-alunos-rec {
  display: grid;
  justify-content: center;
  align-items: center;
}

.caixa-boas-vindas {
  background-color: #f4fdfc;
  border-radius: 15px;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caixa-boas-vindas:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.boas-vindas-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icone-boas-vindas {
  background-color: #0dad98;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 40px;
  margin-right: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.boas-vindas-texto h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.boas-vindas-texto p {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.mensagem-sistema,
.mensagem-alerta {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.mensagem-sistema {
  background-color: #e5faf6;
}

.mensagem-alerta {
  background-color: #ffe4e1;
}

.mensagem-sistema i,
.mensagem-alerta i {
  font-size: 24px;
  margin-right: 15px;
}

.mensagem-sistema i {
  color: #0dad98;
}

.mensagem-alerta i {
  color: #ff6f61;
}

.mensagem-sistema p,
.mensagem-alerta p {
  font-size: 16px;
  color: #555;
}

.button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.botao-explorar {
  background-color: #0dad98;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao-explorar:hover {
  background-color: #0a8d80;
  transform: translateY(-3px);
}

.titulo-area-provas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6fbf66b;
  width: 90%;
  margin-bottom: 25px;
  border-radius: 7px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid #0dad98;
}

.icone-titulo {
  color: #0dad98;
  font-size: 20px;
  margin-right: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.titulo-principal-provas {
  font-size: 17px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.titulo-area-provas:hover {
  background-color: #f1f8e9;
  transform: scale(1.05);
}

.titulo-area-provas:hover .icone-titulo {
  color: #0a8a6e;
  transform: rotate(15deg);
}

.titulo-area-provas:hover .titulo-principal-provas {
  color: #0a8a6e;
}

@media (max-width: 768px) {
  .prova-pendente,
  .caixa-boas-vindas {
    flex-direction: column;
    padding: 15px;
  }

  .conteudo-prova,
  .boas-vindas-header {
    flex-direction: column;
    text-align: center;
  }

  .icone-alerta,
  .icone-boas-vindas {
    margin-bottom: 10px;
  }

  .prova-detalhes,
  .mensagem-sistema,
  .mensagem-alerta {
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }

  .button-ver-prova {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button-ver-prova button {
    width: 100%;
  }

  .button-area {
    justify-content: center;
  }

  .titulo-principal-provas {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  .icone-titulo {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .titulo-principal-provas {
    font-size: 15px;
    text-align: center;
  }

  .icone-titulo {
    font-size: 22px;
  }
}


.gabarito-nao-liberado-aluno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  /* background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: 400px;
  margin: 0px auto;
  color: #333;
  font-family: Arial, sans-serif;
}

.gabarito-nao-liberado-aluno i {
  font-size: 2rem;
  color: #0dad98;
  margin-bottom: 15px;
}

.gabarito-nao-liberado-aluno h2 {
  font-size: 1.5rem;
  color: #0dad98;
  margin-bottom: 10px;
}

.gabarito-nao-liberado-aluno p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

.refresh-btn {
  background-color: #0dad98;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.refresh-btn:hover {
  background-color: #0aaf82;
}

.refresh-btn:active {
  transform: scale(0.98);
}
