.input-campo-aluno{
    background-color: rgba(245, 245, 220, 0);
    width: 70%;
    margin: 20px;
    padding-left: 10px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
    border: 1px solid white;
}

.input-campo-aluno::placeholder{
    color: white;
}

.input-campo-aluno:focus{
    outline: none;
}

.input-add {
    width: 70%;
    padding: 10px; 
    height: 40px;
    font-size: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .input-add:active{
    outline: none;
    border: none;
  }
  
  .input-add:focus {
    outline: none;
  }