.main {
  flex: 1 1 0;
  display: flex;
  background-image: url('../../../public/assents/img/estudantes.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.main-home {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.main-home-professor {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

/* LOGIN DO ALUNO */

.login-aluno {
  padding-top: 50px;
  text-align: center;
  max-width: 400px;
  min-width: 340px;
  border: 2px solid white;
  background-color: rgba(248, 248, 248, 0.298);
  height: 400px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.185);
}

.login-aluno h1 {
  font-size: 30px;
  color: white;
}

#campo-email {
  display: none;
}

/*GESTOR*/

.gestor-main {
  display: flex;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.219);
  margin: 20px;
  width: 80%;
  overflow: hidden;
  min-height: 700px;
}

.menu-lateral-gestor{
  overflow-y: auto;
  background-color: #333; 
}

.menu-lateral-gestor{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
}

.info-gestor {
  flex-grow: 1;
  padding: 20px;
  background-color: #e6e6e6;
  overflow-y: auto;
}

.formulario-add-professor {
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 8px;
}

.container-gestor-info h1 {
  text-align: center;
  margin-bottom: 20px;
}

.campo-formulario-add {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-label-input,.campo-formulario-add label {
  font-size: 20px;
}

.painel-frontal-gestor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.painel-frontal-gestor img{
  width: 200px;
}

.dados-professor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  border-radius: 5px;
  margin: 60px 0px;
  height: auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.226);
}

.dados-professor h3{
  margin: 4px;
}

.main-home-professor section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.professor-area-turmas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 200px;
}

.professor-campos{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.professor-campos div{
  display: flex;
  flex-direction: column;
  width: 300px; 
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.professor-campos div input{ 
  width: 300px; 
  font-size: 20px;
  height: 30px;
}

.professor-dados-gabarito-criar h3{
  margin: 0px;
}

.professor-dados-gabarito-criar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  border-radius: 5px; 
  margin-bottom: 30px;
  height: auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.226);
}

.campos-selecionar-descritores input{
  width: 80px;
}

.descritoresContainer {
  position: absolute;
  background-color: #8f8f8f;
  width: 100px;
  max-height: 200px;
  overflow-y: auto; 
}

.descritor:hover{
  background-color: #747373;
  cursor: pointer;
}

.professor-inserir-gabarito table{
  border-collapse: collapse; 
  border-spacing: 0; 
}

.professor-inserir-gabarito input[type="radio"]{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.professor-inserir-gabarito input[type="text"]{
  border-radius: 0px;
  border: 1px solid black;
  font-size: 13px;
}

.professor-inserir-gabarito input[type="text"]:focus{
  outline: none;
}

.professor-inserir-gabarito input[type="radio"]:checked {
  background-color: #399ff3;
  border-color: #399ff3;
}

.professor-inserir-gabarito td,
.professor-inserir-gabarito tr {
  border: 1px solid black; 
  padding: 5px;
}

@media (max-width: 500px){
  .professor-area-turmas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 100px;
  }

  .professor-campos{
    display: flex;
    flex-direction: column; 
  }
}
