@import url(header.css);
@import url(global.css);
@import url(footer.css);
@import url(main.css);
@import url(botoes.css);
@import url(campo.css);
@import url(PopUps.css);

#campo-email {
  height: 470px;
}

.area-disciplinas th, tr,td{ 
  text-align: center;
}

.area-disciplinas table{
  width: 100%;
}

.cor-linha-tabela-1{
  background-color: rgba(156, 156, 156, 0.349);
}

.cor-linha-tabela-2{
  background-color: rgba(109, 110, 110, 0.384);
}