@import url(home/footer.css);
@import url(home/header.css);
@import url(home/popUp.css);
@import url(home/TelaADM.css);
@import url(home/menu-lateral.css);
@import url(home/login.css);
@import url(home/principais.css);
@import url(home/resposivo.css);
@import url(adm/aluno.css);
@import url(adm/backups.css);
@import url(adm/geral.css);
@import url(adm/login.css);
@import url(adm/materia.css);
@import url(adm/menu.css);
@import url(adm/painel.css);
@import url(adm/periodos.css);
@import url(adm/professor.css);
@import url(adm/turmas.css);
@import url(aluno/home.css);
@import url(aluno/gabarito.css);
@import url(professor/dadosProva.css);
@import url(professor/editarProva.css);
@import url(professor/gabarito.css);
@import url(professor/geral.css);
@import url(professor/home.css);
@import url(professor/inserirProva.css);
@import url(professor/relatorio.css);
@import url(professor/security.css);
@import url(gestor/home.css);
@import url(pfa/home.css);
@import url(gestor/gabarito.css);

.btn-excluir,.btn-editar{
    border: none;
    padding: 8px 11px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .btn-excluir:hover,
  .btn-editar:hover {
    opacity: 0.8;
  }

  .tabela_alunos_adm button:focus {
    outline: none;
  }

  .back-red{
    background-color: rgb(186, 68, 68);
    padding: 10px;
  }

  .hidden {
    display: none;
  }

  .botao-form-enviar {
    background-color: #0dad98;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .botao-form-enviar:hover {
    background-color: #0c8f7d;
  }

  .detalhes-prova table,
.professor-editar-gabarito table,
.PopUp-sobreposicao table,
.aluno_inserir_gabarito table,
.professor-inserir-gabarito table {
  border-collapse: collapse;
  border-spacing: 0;
}

.professor-editar-gabarito input[type="radio"]:checked,
.professor-descritores input[type="radio"]:checked,
.aluno_inserir_gabarito input[type="radio"]:checked,
.professor-area-disciplinas input[type="radio"]:checked,
.professor-inserir-gabarito input[type="radio"]:checked {
  background-color: #399ff3;
  border-color: #399ff3;
}

.professor-editar-gabarito td,
.professor-editar-gabarito tr,
.aluno_inserir_gabarito td,
.aluno_inserir_gabarito tr,
.professor-inserir-gabarito td,
.professor-inserir-gabarito tr {
  border: 2px solid rgb(151, 151, 151);
  padding: 7px;
}

.professor-editar-gabarito input[type="radio"],
.professor-descritores input[type="radio"],
.professor-area-disciplinas input[type="radio"],
.professor-inserir-gabarito input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}


.area-disciplinas th,
.button-menu,
td,
tr {
  text-align: center;
}


#campo-email{height:469px;display:none}body.no-scroll{overflow:hidden}.area-disciplinas table{width:100%}.cor-linha-tabela-1{background-color:rgba(156,156,156,.349)}.cor-linha-tabela-2{background-color:rgba(109,110,110,.384)}.button-menu{text-decoration:none;color:#fff;font-weight:700;background-color:rgba(174,174,174,0);width:195px;padding:10px 5px;transition:.5s}.button-menu:hover{background-color:rgba(128,128,128,.348);cursor:pointer}.switch{position:relative;display:inline-block;width:60px;height:34px}.switch input{opacity:0;width:0;height:0}.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}.slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s}input:checked+.slider{background-color:#2196f3}input:focus+.slider{box-shadow:0 0 1px #2196f3}input:checked+.slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(26px)}.slider.round{border-radius:34px}.slider.round:before{border-radius:50%}@keyframes draw{from{stroke-dashoffset:100}to{stroke-dashoffset:var(--offset)}}.animated-circle{stroke-dasharray:314.159;animation:2s forwards draw}.descritor-graficos{display:flex;flex-direction:row;justify-content:center;align-items:center;gap:10px}.descritor-grafico-proeficiencia svg{width:700px;height:150px;margin:0}.descritor-grafico-porcentagem svg{margin-top:20px;width:80px;height:80px}.button-add-recp{margin:50px;width:270px;height:50px;padding:10px;background-color:#20842cb5;color:#fff;font-weight:700;font-size:18px;transition:.5s;border:none;border-radius:6px;box-shadow:0 0 10px 10px rgba(0,0,0,.148)}.button-add-recp:hover{font-size:19px;cursor:pointer;background-color:#1a6e23b5}#botoes-alternar-prova button{margin-bottom:20px;border:none;padding:10px;background-color:rgba(92,186,186,.59)}#botoes-alternar-prova button:hover{cursor:pointer;background-color:rgba(47,123,123,.59)}.container{display:flex;min-height:100vh}.menu-lateral{background-color:#333;color:#fff;width:200px;padding:20px;display:flex;flex-direction:column;align-items:center}.menu-btn{background-color:#444;color:#fff;border:none;padding:10px;margin:10px 0;width:100%;cursor:pointer;transition:background-color .3s}.menu-btn:hover{background-color:#555}.conteudo{flex-grow:1;padding:20px}.radio-group div{display:flex;gap:10px}.more-values{width:30px;height:30px;display:flex;align-items:center;justify-content:center;cursor:pointer;font-size:20px}.data-periodo{display:flex;justify-content:space-between;gap:20px;padding:20px;width:75%;margin:auto;flex-direction:column;border-radius:8px}.button-enter-email{background-color:rgba(240,248,255,0);border:none;font-size:20px;margin-bottom:20px;text-decoration:underline;color:#fff}.button-enter-email:hover{color:#d1d1d1;cursor:pointer}.button-disciplina-excluir{background-color:#ca214b;width:100px;border:none;height:32px;margin:10px auto;transition:1s}.button-disciplina-excluir:hover{background-color:#ac002b;cursor:pointer}.radio-input{border:0;width:25px;height:30px;vertical-align:middle}.input-add,.input-select{width:70%;border:1px solid #ccc}.input-add{padding:10px;height:40px;font-size:15px;box-sizing:border-box}.input-add:active{outline:0;border:none}.input-add:focus{outline:0}.input-select{padding:8px;font-size:16px;color:#555}.input-checkbox{transform:scale(2);border-radius:none;border:none;margin:10px}.input-checkbox+span{margin-right:20px;font-size:16px;color:#555}.input-checkbox:checked+span{font-weight:700;color:#01a8c5}.label-select{display:block;margin-bottom:5px}.input-checkbox-materias{display:grid;grid-template-columns:repeat(3,1fr);gap:10px}.caixa-turmas{width:100px;height:100px;background-color:#1a55ac;color:#000;font-weight:700;display:flex;justify-content:center;align-items:center;font-size:15px}.caixa-turmas:hover{background-color:#154791;cursor:pointer}.form-radio div{display:flex;align-items:center;justify-content:center;flex-direction:row}.form-radio{display:flex;gap:5px}.nome_prova input[type=text]{width:400px;height:30px;font-size:17px;font-weight:700}.PopUp-sobreposicao td,.PopUp-sobreposicao tr{border:1px solid #000;font-size:10px}.descritor:hover{background-color:#747373;cursor:pointer}.area-caixas-turmas{display:flex;justify-content:center;gap:10px;flex-wrap:wrap}.nome_prova{display:flex;justify-content:center;align-items:center;flex-direction:column}.nome_prova label{font-size:20px;font-weight:700}.campo-formulario-add label,.titulo-label-input{font-size:20px}