.nome_prova label {
    font-size: 20px;
    font-weight: bold;
}

.professor-dados-gabarito-criar h3 {
    margin: 0px;
}

.dados-professor h3 {
    margin: 4px;
}

.container-gestor-info h1 {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-label-input,
.campo-formulario-add label {
    font-size: 20px;
}

.login-aluno h1 {
    font-size: 30px;
    color: white;
}