:root {
                --primary-color: #3cd893ff;
                --primary-colorh: #2a9766;
                --primary-colorBG: #3cd893ff33;
                --primary-colorBGeasy: #3cd893ffd;
            }