:root {
                --primary-color: #16c1aaff;
                --primary-colorh: #0d7366;
                --primary-colorBG: #16c1aaff33;
                --primary-colorBGeasy: #16c1aaffd;
            }