.form_add_materia_adm {
    background-color: #ffffff00;
    padding: 20px; 
    margin: 40px auto; 
    height: 80%;
    width: 80%;
  }
  
  .form_add_materia_adm form{
    width: 100%;
    text-align: center;
  }

  .form-title-add-materia {
    text-align: center;
    margin-bottom: 20px;   
    color: #333;
  }
  
  .form-group-add-materia {
    margin-bottom: 15px;
  }

  .form-group-add-materia input[type="text"] {
    width: 80%;
    padding: 10px;
    height: 50px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .submit-button-add-materia {
    background-color: #81b483;
    width: 80%;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button-add-materia:hover {
    background-color: #4b734c;
  }

  .checkbox-group-disciplinas {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  @media (max-width: 600px) {
    .checkbox-group-disciplinas {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }

  .disciplina-box label div {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 85px;
  }
  
  .disciplina-box {
    position: relative;
  }
  