.painel-frontal-gestor {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .painel-frontal-gestor img {
    max-width: 150px;
    margin-bottom: 20px; 
  }
  
  .painel-frontal-gestor h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }

  .painel-frontal-gestor img {
    width: 200px;
  }

  .painel-frontal-gestor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .painel-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .painel-button {
    background-color: #16c1aa;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 25px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.267);
    font-family: 'Arial', sans-serif;
  }
  
  .painel-button:hover {
    background-color: #169b89;
    transform: translateY(-2px);
  }
  
  .painel-button:active {
    background-color: #003f8a;
    transform: translateY(0);
  }
  
  .painel-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }