.conteudo-item {
    display: none;
}

.conteudo-item.active {
    display: block;
}

.data-periodo div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .data-periodo label {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .data-periodo input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
  }
  
  .data-periodo input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  @media (max-width: 768px) {
    .data-periodo {
        flex-direction: column;
        gap: 15px;
    }
  }