.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-gabriel{
  color: var(--primary-color);
}

.footer a:hover {
  text-decoration: underline;
}

/* Container centralizado */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-info h1 {
  margin: 10px 0;
  font-size: 15px;
}

.footer-info p {
  margin: 5px 0;
}

/* Botão "Sobre o Sistema" */
.sobre-sistema {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sobre-sistema:hover {
  background-color: #555;
}

/* Ícones das redes sociais */
.footer-social {
  margin-top: 20px;
}

.footer-social a {
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #ccc;
}
