/* Cor de tema */
:root {
    --tema-cor: #16c1aa;
    --cor-secundaria: #0f9d8e;
    --cor-texto: #ffffff;
    --cor-fundo: #f4f4f4;
} 

.tela-adm {
    background-color: var(--cor-fundo);
    padding: 50px 0;
    height: 100vh;
    text-align: center;
}

.tela-adm-container-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

.tela-adm-container-box:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.tela-adm-container {
    padding: 20px;
}

.tela-adm-titulo {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.tela-adm-subtitulo {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 40px;
}

.tela-adm-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.tela-adm-card {
    background-color: var(--primary-color);
    color: var(--cor-texto);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tela-adm-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.tela-adm-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

.tela-adm-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.tela-adm-card p {
    font-size: 1em;
    margin-bottom: 20px;
}

.tela-adm-btn-index {
    display: inline-block;
    background-color: var(--primary-colorh);
    color: var(--cor-texto);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tela-adm-btn-index:hover {
    background-color: var(--primary-colorh);
    transform: scale(1.25);
}
