.btn-index{
    width: 300px;
    height: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:#0bd1eb5e;
    border: 3px solid rgba(255, 255, 255, 0.651);
    font-family: "Oswald", 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.btn-index:hover{
    border: 3px solid rgba(10, 247, 255, 0.795);
    background-color:#0bd1ebab;
    cursor: pointer;
}


.login-aluno input[type="submit"]{
    background-color: white;
    border: none;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px 0px;
    height: 60px;
}

.login-aluno input[type="submit"]:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.button-enter-email{
    background-color: rgba(240, 248, 255, 0); 
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration:underline;
    color: white;
}

.button-enter-email:hover{
    color: rgb(209, 209, 209);
    cursor: pointer;
}

.Botao-voltar-lobby{
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    margin: 20px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}