 .header {
    background-color: var(--header);
    height: 80px; 
    padding: 20px 0;
  }
  
  .header__title {
    margin: 0;
    font-size: 50px;
    color: var(--text-color);
  }

  .header h4{
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .img-tile{
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .img-tile img{
    width: 50px;
    margin-right: 20px;
  }

  .boton-header{
    height: 10px; 
    background-color:#0fb6c9;
  }

  .header i{
    position: absolute;
    right: 40px;
    top: 45px;
  }

  .header i{
    cursor: pointer;
  }

  .menu i{
    position: absolute;
    left: 50px;
    top: 45px;
  }

@media (max-width: 500px){

    .img-tile img{
        width: 40px;
        margin-right: 20px;
      }

      .header__title {
        font-size: 30px;
    }

    .user i{
        position: absolute;
        right: 20px;
        top: 30px;
      }

      .header { 
        height: 55px; 
      }

      .menu i{
        position: absolute;
        left: 20px;
        top: 35px;
      }
}