
@import url(header.css);
@import url(global.css);
@import url(footer.css);
@import url(main.css);
@import url(botoes.css);
@import url(campo.css);

.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}